html {

    width: 100%;
    height: 100%;
}
body{
    margin: 0px;
    width: 100%;
    height: 100%;
}
.main {
    width: 100%;
    height: 100%;
    background: url(../image/bg.png) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.logo {
    display: block;
    width: 200px;
    height: 55px;
    background: url(../image/logo.png) no-repeat;
    margin: 20px auto;
}
ul{
    list-style: none;
    font-size: 22px;
    color: #8c949c;
    font-weight: bold;
    
}

ul li {
    position: relative;
    padding-left: 10px;
    
}

ul li div{
    height: 98%;
    width: 1px;
    border-left: 1px dotted #ccc;
    position: absolute;
    left: 14px;
    top: 18px;
}

ul ul{
    display: none;
    border-left: 1px dotted #555;
}
#oUl > li {
    cursor : pointer;
}
ul li span {
    display: block;
    line-height: 32px;
    padding-left: 15px;
    background: url(../image/icon.png) no-repeat left 500px;

}

ul li span.add {
    background-position: 0px -32px;
}
ul li span.line {
    background-position: 0px 11px;
}


.tree {
    margin-left: 300px;
}
